/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

/* These are general rules that repeat themselves across multiple pages*/

:root {
	--primary-color: #2b2b2b;
	--primary-background-color: #EEEEEE;
	--bar-background-color: orangered;
	--grid-background-color: lightgrey;
	--primary-font-family: 'Playfair Display', serif;
	--primary-font-weight: 500;
	--primary-font-size: 16px;
	--primary-line-height: 1.2;
	--lato-font: Lato, sans-serif;

}

body {
	color: var(--primary-color);
	background-color: var(--primary-background-color);
	font-family: var(--primary-font-family);
	font-weight: var(--primary-font-weight);
	font-size: var(--primary-font-size);
	line-height: var(--primary-line-height);
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-left: 5px
}

.page-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 100%;
	height: 225px;
	padding: 20px;
}

.page-header__item {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 200px;
	        flex: 0 1 200px;
}

.page-header__item:last-child {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	text-align: right;
}

.navigation-list {
	list-style-type: none;
	font-family: var(--lato-font);
	font-variant: small-caps;
	font-size: large;
}

.navigation-list li {
	display: inline-block;
	margin-left: 15px;
}

.navigation-list__item--active {
	text-decoration: none!important;
	color: var(--bar-background-color);
	opacity: 0.5;
}

.bar {
	width: 100%;
	margin: 0;
	background-color: var(--bar-background-color);
	height: 20px;
	border-top: 1px solid var(--grid-background-color);
	border-bottom: 1px solid var(--grid-background-color);
	opacity: 0.1;
}

h1 {
	font-family: var(--lato-font);
	text-align: left;
	font-variant: small-caps;
	font-size: 30px;
	font-weight: 700;
}

h2 {
	font-family: var(--lato-font);
	font-variant: small-caps;
	font-size: 24px;
	font-weight:  700;
}

h3 {
	font-family: var(--lato-font);
	font-variant: small-caps;
	font-size: 22px;
	font-weight: 700;
}

a {
	font-family: var(--lato-font);
	color: #62621d;
	-webkit-transition-property: opacity;
	transition-property: opacity;
}

a:visited {
	/*visited link*/
	color: #4f4f29;
}

a:hover, a:focus {
	/*No underlining when hovering over a link*/
	text-decoration: none;
	cursor: pointer;
	opacity: 0.8;
	-webkit-transition: opacity 0.3s linear 0.2s;
	transition: opacity 0.3s linear 0.2s;
}

a:active {
	/*selected link*/
	color: #63e8d663;
}

.page-footer {
	clear: both;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
}

.social-media {
	font-family: var(--lato-font);
}

/*This section is the index page*/
.profile-index {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: auto;
	margin: 10px;
	margin-bottom: 20px;
	padding: 10px;
	}

.julie-image {
	width: 40%;
	text-align: right;
	padding-right: 2em;
}

.julie-image-index {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	border: 1px solid rgb(186, 185, 185);
	-webkit-box-shadow: 2px 2px 5px 0 rgb(0, 0, 0, 0.8);
	        box-shadow: 2px 2px 5px 0 rgb(0, 0, 0, 0.8);
}

.about-index {
	line-height: 1.2;
	justify-items: center;
	margin-right: 10%;
	padding-left: 15px;
	width: 60%;
	overflow: hidden;
}

.about-me {
	font-family: var(--lato-font);
	line-height: 2.0;
	color: rgb(255, 69, 0, 0.8);
	opacity: 0.8;
}

/*This starts the about section*/

.main {
	padding: 15px;
}

.profile-list {
	font-variant: small-caps;
	font-size: 18px;
	font-weight: 700;
	list-style-type: none;
	padding-top: 10px;
}
.profile {
	margin: 0 auto;
	text-align: center;
	width: 100%;
	min-height: auto;
	line-height: 1.2;
	}

.hobbies {
	font-family: var(--lato-font);
	font-variant: small-caps;
	font-size: 18px;
}

.bavarian-alps {
	margin-left: 30px;
	margin-bottom: 20px;
}

/*This starts the animation*/
/*Bird animation*/

@-webkit-keyframes bird-move {
	from {
		-webkit-transform: translate(80px, 0);
		        transform: translate(80px, 0);
	}
	to {
		-webkit-transform: translate(-2000px, -150px);
		        transform: translate(-2000px, -150px);
	}
}

@keyframes bird-move {
	from {
		-webkit-transform: translate(80px, 0);
		        transform: translate(80px, 0);
	}
	to {
		-webkit-transform: translate(-2000px, -150px);
		        transform: translate(-2000px, -150px);
	}
}

@-webkit-keyframes bird-color {
	0% {
		fill: #000000;
	}
	20% {
		fill:rgb(89, 86, 81);
	}
	40% {
		fill:rgb(214, 205, 174);
	}
	60% {
		fill:rgb(223, 206, 136);
	}
	100% {
		fill:rgb(247, 202, 120);
	}
}

@keyframes bird-color {
	0% {
		fill: #000000;
	}
	20% {
		fill:rgb(89, 86, 81);
	}
	40% {
		fill:rgb(214, 205, 174);
	}
	60% {
		fill:rgb(223, 206, 136);
	}
	100% {
		fill:rgb(247, 202, 120);
	}
}

.bird {
	-webkit-animation: 50s bird-move infinite normal linear, 50s bird-color infinite normal linear;
	        animation: 50s bird-move infinite normal linear, 50s bird-color infinite normal linear;
}

/*This is the kyte animation*/

@-webkit-keyframes kyte-move {
	from {
		-webkit-transform: translate(40px, 5px);
		        transform: translate(40px, 5px);
	}
	to {
		-webkit-transform: translate(3000px, 100px);
		        transform: translate(3000px, 100px);
	}
}

@keyframes kyte-move {
	from {
		-webkit-transform: translate(40px, 5px);
		        transform: translate(40px, 5px);
	}
	to {
		-webkit-transform: translate(3000px, 100px);
		        transform: translate(3000px, 100px);
	}
}

@-webkit-keyframes kyte-color {
	0% {
		fill: #000000;
	}
	20% {
		fill:rgb(89, 86, 81);
	}
	40% {
		fill:rgb(190, 158, 114);
	}
	60% {
		fill:rgb(232, 176, 107);
	}
	100% {
		fill:rgb(245, 157, 63);
	}
}

@keyframes kyte-color {
	0% {
		fill: #000000;
	}
	20% {
		fill:rgb(89, 86, 81);
	}
	40% {
		fill:rgb(190, 158, 114);
	}
	60% {
		fill:rgb(232, 176, 107);
	}
	100% {
		fill:rgb(245, 157, 63);
	}
}

.kyte {
	-webkit-animation: 50s kyte-move infinite normal linear, 50s kyte-color infinite normal linear;
	        animation: 50s kyte-move infinite normal linear, 50s kyte-color infinite normal linear;
}

/*This is the background animation*/

@-webkit-keyframes background-color {
	0% {
		fill: #000000;
	}
	20% {
		fill:rgb(89, 81, 81);
	}
	40% {
		fill:rgb(130, 110, 110);
	}
	60% {
		fill:rgb(182, 160, 160);
	}
	100% {
		fill:rgb(218, 189, 189);
	}
}

@keyframes background-color {
	0% {
		fill: #000000;
	}
	20% {
		fill:rgb(89, 81, 81);
	}
	40% {
		fill:rgb(130, 110, 110);
	}
	60% {
		fill:rgb(182, 160, 160);
	}
	100% {
		fill:rgb(218, 189, 189);
	}
}

.background {
	-webkit-animation: 50s background-color 1 normal linear;
	        animation: 50s background-color 1 normal linear;
}


/*This starts the work section*/

.my-work {
	margin: 30px;
	margin-bottom: 20px;
}

/* start grid fallback */
.grid-item {
	display: inline-block;
	width: 33%;
}
/* end grid fallback */

@supports (display: grid) {
.grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 20px 1fr 20px 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}

.grid-item {
	background-color: var(--grid-background-color);
	width: auto;
	min-height: auto;
	margin: 0;
}

.grid-item:last-child {
	-ms-grid-column: 3;
	grid-column: 3 / 3;
	-ms-grid-row: 1;
	-ms-grid-row-span: 2;
	grid-row: 1 / 3;
}
}

.medium {
	margin-bottom: 30px;
}

/*This starts the contact section*/

.contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-image: url("../img/mountains.jpg");
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.5;
	border: 1px solid lightgrey;
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5), 0 5px 5px 0 rgba(0, 0, 0, 0.5);
	        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5), 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.contact-info {
	color: rgb(19, 19, 19, 1);
	width: auto;
	height: auto;
	padding: 10px;
	padding-bottom: 15px;
	padding-top: 5px;
	margin-left: 20px;
	margin-bottom: 20px;
	text-align: center;
	-ms-flex-item-align: end;
	    align-self: flex-end;
	background-color: var(--primary-background-color);
	border-radius: 20px 20px;
	border: 1px solid lightgrey;
}

.contact-details {
	font-family: var(--lato-font);
	font-variant: small-caps;
	font-size: 20px;
}

.ask-me {
	font-family: Lato, sans-serif;
	font-variant: small-caps;
	text-decoration: none;
	font-size: 1.2em;
	color: #62621d;
}

.contact-form {
	background-color: var(--primary-background-color);
	color: rgb(19, 19, 19, 1);
	padding: 20px;
	padding-left: 7px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	border: 1px solid lightgrey;
	border-radius: 20px 20px;
	-webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	text-align: center;
	z-index: 2;
}

.standard-class {
	font-family: var(--lato-font);
	font-variant: small-caps;
	font-size: 20px;
}

.personal-data {
	background-color: var(--grid-background-color);
	color: rgb(118, 117, 117);
	border: 2px solid transparent;
	border-radius: 10px;
	padding: 0.5em;
	outline: none;
	font-family: var(--lato-font);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	margin-bottom: 0.5em;
	-webkit-transition: ease-in;
	transition: ease-in;
}

.personal-data:hover {
	background-color: rgb(232, 230, 230);
	cursor: pointer;
}

.personal-data:focus {
	cursor: text;
	color: #333333;
	background-color: rgb(255, 69, 0, 0.1);
	border-color: var(--grid-background-color);
}
.submit-btn {
	background-color: var(--grid-background-color);
	color: rgb(118, 117, 117);
	border: 0.5px solid rgb(118, 117, 117);
	border-radius: 10px;
	padding: 5px 10px;
	outline: none;
	font-family: var(--lato-font);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	margin-bottom: 0.5em;
}

.submit-btn:hover {
	opacity: 0.7;
	cursor: pointer;
	-webkit-transition: opacity 0.4s ease-in;
	transition: opacity 0.4s ease-in;
}

.asterix {
	margin-top: 0;
	font-variant: small-caps;
	font-family: var(--lato-font);
	font-size: 17px;
	font-weight: 700;
}

button, 
.button {
	/*overwrites browser defaults and resets the border*/
	border: none;
	display: inline-block;
	/*takes the font from the outer container*/
	font-family: inherit;
	/*styles the background color, font color, and text decoration (underline, etc.) of the button*/
	background-color: rgb(247, 143, 105);
	color: var(--primary-color);
	text-decoration: none;
	/*adds spacing to the button*/
	padding: 10px;
	border-radius: 3px;
	/*gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format*/
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 1s;
	        transition-duration: 1s;
	-webkit-transition-timing-function: ease-in;
	        transition-timing-function: ease-in;
}

.index-button {
	margin-top: 15px;
}

button:hover, 
button:focus,
.button:hover,
.button:focus {
	/*lets the mouse appear as a hand when hovering over the button*/
	cursor: pointer;
	/*reduces the opacity of the pointer to 80%*/
	opacity: 0.5;
	color: rgb(44, 43, 43)
}

/*These are media queries*/

@media all and (max-width: 800px) {
	.julie-image {
		width: 100%;
		text-align: center;
		margin-bottom: 1.5em;
		margin-top: 1.5em;
	}
}

@media all and (max-width: 800px) {
	.about-index {
		width: 80%;
		text-align: center;
		margin-bottom: 1.5em;
	}
	.about-index h1 {
		text-align: center;
	}
}

@media all and (max-width: 800px) {
	.profile-index {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}

@media all and (max-width: 800px) {
	.julie-image {
		-ms-flex-item-align: center;
		    -ms-grid-row-align: center;
		    align-self: center;
	}
}

@media all and (max-width: 500px) {
	.grid {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
	.bavarian-alps {
		max-width: 85%;
	}
}

@media all and (min-width: 500px) and (max-width: 750px) {
	.grid {
		-ms-grid-columns: 1fr 20px 1fr;
		grid-template-columns: 1fr 1fr;
	}
	.bavarian-alps {
		max-width: 80%;
	}
}

@media all and (max-width: 750px) {
	.grid {
		grid-gap: 10px;
	}

	.grid-item:last-child {
		grid-column: auto / auto;
		grid-row: auto / auto;
	}

	h1 {
		font-size: 22px;
	}
}

@media all and (min-width:750px) and (max-width: 900px) {
	.bavarian-alps {
		max-width: 90%;
	}
}

@media all and (min-width: 900px) {
	.bavarian-alps {
		width: 100%;
	}
}

@media all and (max-width: 700px) {
	.contact-info {
		text-align: left;
		margin-bottom: 50px;
	}
}

@media all and (max-width: 800px) {
	.contacts {
		display: inline-block;
		height: auto;
		margin-left: 5px;
	}

	.contact-form {
		display: block;
		text-align: center;
		width: 80%;
		height: 70%;
		padding-left: 10px;
		margin-left: 30px;
	}

	.contact-info {
		display: block;
		text-align: center;
		margin-top: 15px;
		margin-left: 30px;
		width: 85%;
		height: 70%;
	}
}

@media all and (max-width: 400px) {
	.phone {
		display: static;
	}
}